# Virtual environment (Requirement: do not upload venv to Git)
venv/
ENV/
env/

# Python files and cache
__pycache__/
*.py[cod]

*$py.class

# Test and coverage reports (Requirement: generated locally or in CI/CD)
report.html
.pytest_cache/
.coverage
htmlcov/

# Database files (Requirement: in-memory database or local test database)
*.db
*.sqlite3
